@CHARSET "UTF-8";

.contactName{
	text-size: 1.2em;
	font-weight: bold;
}

.contactWrapper{
	color: rgb(20,20,20);
	
	text-align: left;
	border: 2px;
	border-style: groove;	
	background-color: rgba(200,200,200,0.5);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7FAAAAAA', EndColorStr='#7FAAAAAA');
}

.contactWrapper:nth-child(odd){
	background-color: rgba(255,255,255,0.5);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7FFFFFFF', EndColorStr='#7FFFFFFF');
}

.contactWrapper:hover *{
	cursor: pointer;
	background-color: rgba(180,180,180,0.8);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7FAAAAAA', EndColorStr='#7FAAAAAA');
}

.contactWrapperNoHover{
	color: rgb(20,20,20);
	
	text-align: left;
	border: 2px;
	border-style: groove;	
	background-color: rgba(200,200,200,0.5);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7FAAAAAA', EndColorStr='#7FAAAAAA');
}

.contactWrapperNoHover:nth-child(odd){
	background-color: rgba(255,255,255,0.5);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7FFFFFFF', EndColorStr='#7FFFFFFF');
}

.contactHasUnreadMessages{
	color: rgb(20,20,220);
}


