@CHARSET "UTF-8";


h1{
	font-style:bold;
	font-family:serif;
	color:white;
	font-size: 1.8em;
}

h2{
	font-style:bold;
	font-family:serif;
	color:white;
	font-size: 1.6em;
}

body{
	overflow: hidden;
}

#container{
	position: absolute;
	top: 0px;
	bottom: 0px; 
	left: 0px;
	right: 0px;
	text-align: center;
	display: block;
	height:100%;
	width:100%;	
	background: -moz-linear-gradient(top, rgba(210,223,237,1) 0%, rgba(166,192,227,1) 27%, rgba(175,199,232,1) 62%, rgba(186,208,239,1) 75%, rgba(153,181,219,1) 88%, rgba(121,155,200,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,223,237,1)), color-stop(27%,rgba(166,192,227,1)), color-stop(62%,rgba(175,199,232,1)), color-stop(75%,rgba(186,208,239,1)), color-stop(88%,rgba(153,181,219,1)), color-stop(100%,rgba(121,155,200,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(210,223,237,1) 0%,rgba(166,192,227,1) 27%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(210,223,237,1) 0%,rgba(166,192,227,1) 27%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(210,223,237,1) 0%,rgba(166,192,227,1) 27%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(210,223,237,1) 0%,rgba(166,192,227,1) 27%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2dfed', endColorstr='#799bc8',GradientType=0 ); /* IE6-9 */
}

header{
	position: absolute;
	top: 0px;
	width: 100%;
}

section{
	width: 100%;
	position: absolute;
	top: 50px;
}

footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.black{
	background: rgb(40,40,40);
	border: 2px;
	border-style: groove;
	color: rgb(220,220,220);	
	margin-bottom: 10px;
}

.scroll{
	overflow-y: auto;
}

.messageSection{
	bottom: 100px;
}

input {
	width:90%;
}

input.error {
	border: 1px solid red;
}

label.error {
	display: block;
	color: red;
}

.button {
	width: 90%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 10px 15px;
	background: -moz-linear-gradient(
		top,
		rgb(210,223,237) 0%,
		rgb(186,208,239));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgb(210,223,237)),
		to(rgb(186,208,239)));
	border: 2px solid #424242;
	-moz-box-shadow:
		3px 4px 3px rgba(000,000,000,0.6),
		inset -1px -1px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		3px 4px 3px rgba(000,000,000,0.6),
		inset -1px -1px 1px rgba(255,255,255,0.7);
	box-shadow:
		3px 4px 3px rgba(000,000,000,0.6),
		inset -1px -1px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

.button:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #212121;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		rgb(210,223,237) 0%,
		rgb(186,208,239));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgb(200,213,227)),
		to(rgb(176,198,229)));
	border: 2px solid #262526;
	-moz-box-shadow:
		1px 2px 3px rgba(000,000,000,0.6),
		inset 1px 1px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		1px 2px 3px rgba(000,000,000,0.6),
		inset 1px 1px 1px rgba(255,255,255,0.7);
	box-shadow:
		1px 2px 3px rgba(000,000,000,0.6),
		inset 1px 1px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

.back
{
	width: 50px;
	float: left;	
	z-index: 2;
}
